<div class="main-div">
  <div class="logo-div">
    <img src="assets/logo.svg" alt="" class="logo-css">
  </div>

  <div class="second-div">
    <!-- card 1 -->
    <mat-card>
      <div class="card-header">
        Air Quality
      </div>
      <div class="card-desc">
        <div style="padding: 9px 16px 0% 0%;">
          <span class="air-quality">
            72
          </span>
        </div>
        <div class="air-quality-div ">
          <div class="flex-center value1">
            <span style="height: 41px;">
              <span class="material-icons material-symbols-outlined arrow-up-icon">
                arrow_upward
              </span>
            </span>
            <span class="air-quality-val">
              93
            </span>
          </div>
          <div class="flex-center value2">
            <span>
              <span class="material-icons material-symbols-outlined arrow-down-icon">
                arrow_downward
              </span>
            </span>
            <span class="air-quality-val">
              61
            </span>
          </div>
        </div>
      </div>
    </mat-card>

    <!-- card 2 -->
    <mat-card>
      <div class="card-header">
        Temperature
      </div>
      <div class="card-desc">
        <div style="padding: 9px 16px 0% 0%;">
          <span class="air-quality temperature">
            21<span class="celcius-css">&#8451;</span>
          </span>
        </div>
        <div class="air-quality-div ">
          <div class="flex-center value1">
            <span class="temp-img-span">
              <img src="assets/fire.svg" alt="" class="fire-icon">
            </span>
            <span class="air-quality-val">
              26<span class="celcius-css">&#8451;</span>
            </span>
          </div>
          <div class="flex-center value2">
            <span class="temp-img-span">
              <img src="assets/snowflake.svg" alt="" class="snowflake-icon">
            </span>
            <span class="air-quality-val">
              18<span class="celcius-css">&#8451;</span>
            </span>
          </div>
        </div>
      </div>
    </mat-card>

    <!-- card 3 -->
    <mat-card class="audio-card">
      <div class="card-header">
        Audio
      </div>
      <div class="card-desc">
        <div style="display: flex;">
          <div class="audio-count">
            2
          </div>
          <div style="margin-top: -25px;">
            <span class="audio-status">
              PLAYING
            </span>
          </div>
        </div>
        <div class="audio-total">
          <span class="audio-total-label">
            Total
          </span>
          <span class="audio-total-count">
            5
          </span>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="flex-center">
    <div class="third-div">
      <!-- card 4 -->
      <mat-card class="audio-card">
        <div class="card-header">
          Displays
        </div>
        <div class="card-desc">
          <div class="audio-count p-0">
            10
          </div>
          <div class="audio-count display-card-bottom-div2">
            /16
          </div>
          <div class="audio-total display-card-bottom-div3">
            <span class="audio-total-label">
              On Time
            </span>
            <span class="audio-total-count">
              00:00
            </span>
          </div>
        </div>
      </mat-card>

      <!-- card 5 -->
      <mat-card class="audio-card">
        <div class="card-header">
          Lighting
        </div>
        <div class="card-desc">
          <div style="display: flex;">
            <div class="audio-count">
              32
            </div>
            <div style="margin-top: -25px;">
              <span class="audio-status">
                ON
              </span>
            </div>
          </div>
          <div class="audio-total">
            <span class="audio-total-label">
              Total
            </span>
            <span class="audio-total-count">
              43
            </span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
